
<body>
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">

        <div class="page-header">
            <h1>Simple Translator</h1>
        </div>
        <br>

        <div class="panel panel-default">
          <p class="panel-body">
            There are currently <b><%= link_to @translations.size, controller: "translations", action: "all"  %></b> translation(s).
          </p>
        </div>

        <br>

            <%= bootstrap_form_for(Translation.new) do |f| %>
                <%= f.select :language_from, @languages %>
                <%= f.select :language_to, @languages %>
                <%= f.text_area :body_text %>


                <%= f.submit "Translate!" %>
            <% end %>


      </div>
      <div class="col-sm-4"></div>
    </div>
</body>